.products-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 75px)
}

.products {
    height: 608px;
    width: 300px;
    background-size: cover;
    margin: 25px 0;
    display: flex;
    align-items: flex-end
}

.product-info-container {
    height: 40%;
    width: 100%;
    background: rgba(128, 128, 128, 0.322);
    display: flex;
}

.product-info-text {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    margin-left: 25px;
}

.shop-now-container {
    border: 3px black solid;
    width:125px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-info-desktop-view {
    display: none;
}

@media screen and (min-width: 1000px) {
    .products-page-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75vw;
        background: white;
        margin-bottom: 50px;
        /* padding: 0 10%; */
    }
    
    .products {
        height: 500px;
        margin-right: 10%;
    }

    .product-info-desktop-view {
        display: flex;
        flex-direction: column;
        color: black;
        width: 300px;
        height: 400px;
        justify-content: space-around;
        text-align: left;
        text-shadow: 2px 2px lightgray;
        margin-left: 25%;
        font-size: 13px;
        letter-spacing: 1px;
    }
}