.user-photo-drop-zone {
    border: 1px gray dashed;
    height: 50px;
    width: 200px;
}

.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: 30px 0;
}

.user-info-container {
    height: 200px;
    width: 90vw;
    border: 1px gray solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 25px;
    text-align: left;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.user-info-container-input {
    width: 200px;
    height: 25px;
    background: gray;
    color: white;
    font-weight: 900;
    font-size: 15px;
    letter-spacing: 1px;
}

.short-input {
    width: 160px;
}

@media screen and (min-width: 1000px) {
    .user-page {
        min-height: calc(100vh - 200px);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .user-page-main {
        height: calc(100vh - 200px - 75px - 38px);
        width: 85vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .user-container {
        width: 400px;
    }

    .user-info-container {
        width: 500px;
        font-size: 25px;
        height: 250px;
    }

    .user-info-container-input {
        height: 35px;
        width: 350px;
        font-size: 25px;
    }

    .short-input {
        width: 290px;
    }
}