.no-admin-access {
    height: 100vh;
}

.admin-users-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.admin-user-container {
    height: 150px;
    width: 90vw;
    border: 1px gray solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 25px;
    text-align: left;
}