.email-signup {
    height: 436px;
    width: 100vw;
    /* background: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email-signup-container {
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.email-input {
    display: flex;
    height: 30px;
    width: 200px;
    align-items: center;
}

input {
    background: lightgray;
    color: black;
}

.social-links {
    width: 75vw;
    display: flex;
    justify-content: space-around;
    font-size: 40px;
}