.email-signup {
    height: 536px;
    width: 100vw;
    /* background: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email-signup-container {
    height: 35%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;
}

.follow-us-container {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.email-input {
    display: flex;
    flex-direction: column;
    height: 60px;
    width: 80%;
    align-items: center;
    z-index: 10;
}

.email-signup-box {
    height: 30px;
    width: 250px;
    background: lightgray;
    color: black;
}

.email-submit-button {
    font-size: 65px;
    margin-bottom: 3px;
}

.email-submit-button:hover {
    color: lightblue;
}

.email-submitted-check {
    color: lightgreen;
    padding-top: 15px;
    font-size: 40px;
}

.social-links {
    width: 75vw;
    display: flex;
    justify-content: space-around;
    font-size: 40px;
    padding-top: 50px;
}

@media screen and (min-width: 1000px) {
    .email-signup-full {
        display: flex;
        width: 100vw;
        justify-content: center;
    }
    
    .email-signup {
        flex-direction: row;
        justify-content: space-between;
        width: 60vw;
    }

    .email-signup-container {
        height: 350px;
        width: 300px;
    }

    .email-signup-container h1 {
        font-size: 50px;
        letter-spacing: 2px;
    }

    .follow-us-container {
        width: 300px;
    }

    .follow-us-container h1 {
        font-size: 45px;
        letter-spacing: 2px;
    }

    .follow-us-container h3 {
        font-size: 30px;
    }

    .social-links {
        width: 300px;
        justify-content: space-between;
    }
}